<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/ips" (click)="limpiar()"></ion-back-button>
        </ion-buttons>
        <ion-title>Subneting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list *ngFor="let sub of conSubNet; let idx = index">
        <h2>Subneteo {{idx + 1}}</h2>
        <ion-item>IP : {{ sub.ip | ips }} </ion-item>
        <ion-item>PU : {{ sub.pu | ips }} </ion-item>
        <ion-item>UU : {{ sub.uu | ips }} </ion-item>
        <ion-item>BC : {{ sub.bc | ips }} </ion-item>
        <ion-item>MM : {{ sub.mm | ips }} </ion-item>
        <ion-item>Hosts requeridos : {{ sub.host }} </ion-item>
        <ion-item>Hosts utilizados : {{ sub.reqHost }}</ion-item>
    </ion-list>

</ion-content>